# 部分仅测试使用的游戏没必要上传，代码完全完善并测试通过后再上传
Games/Game001/
Games/HOK/
Games/TheOutcast/

# nvapi64.dll现在的架构用不上了
nvapi64.dll

# 日志文件上传毫无意义
Logs/

# 工作空间动辄几个G，不能上传
WorkSpace/

# 测试逆向出来的东西，无需上传
Reversed/

# 自用的测试插件，上传毫无意义
Plugins/3Dmigoto-Sword-Lv5.vmp.exe
Plugins/DBMT-Encryptor.vmp.exe
Plugins/DBMT-Protect.vmp.exe

# 3Dmigoto的日志文件
d3d11_log.txt
d3dx_user.ini
ShaderUsage.txt
FrameAnalysis-*

Mod_*

# 部分游戏加载器默认无需提供，而是从Github获取最新的
3Dmigoto/GI
3Dmigoto/HSR
3Dmigoto/ZZZ
3Dmigoto/HI3
3Dmigoto/WuWa
3Dmigoto/WWMI
3Dmigoto/BloodySpell
3Dmigoto/GF2

# 米游的背景图，没必要塞进来
Background.webp

# 默认的背景图也没有必要提供，最大程度减少包体大小，方便自动更新
Background.png

# 默认配置文件也不需要，用户自己会生成配置文件
MainConfig.json

# 部分自带加载器的内容
3Dmigoto/IdentityV/3Dmigoto Loader.exe
3Dmigoto/IdentityV/d3d11.dll
3Dmigoto/IdentityV/d3dcompiler_46.dll
3Dmigoto/IdentityV/d3dcompiler_47.dll

3Dmigoto/IdentityV2/3Dmigoto Loader.exe
3Dmigoto/IdentityV2/d3d11.dll
3Dmigoto/IdentityV2/d3dcompiler_46.dll
3Dmigoto/IdentityV2/d3dcompiler_47.dll

3Dmigoto/NeirR/3Dmigoto Loader.exe
3Dmigoto/NeirR/d3d11.dll
3Dmigoto/NeirR/d3dcompiler_46.dll
3Dmigoto/NeirR/d3dcompiler_47.dll

3Dmigoto/AILIMIT/3Dmigoto Loader.exe
3Dmigoto/AILIMIT/d3d11.dll
3Dmigoto/AILIMIT/d3dcompiler_46.dll
3Dmigoto/AILIMIT/d3dcompiler_47.dll

3Dmigoto/Game001/3Dmigoto Loader.exe
3Dmigoto/Game001/d3d11.dll
3Dmigoto/Game001/d3dcompiler_46.dll
3Dmigoto/Game001/d3dcompiler_47.dll

3Dmigoto/MiSide/3Dmigoto Loader.exe
3Dmigoto/MiSide/d3d11.dll
3Dmigoto/MiSide/d3dcompiler_46.dll
3Dmigoto/MiSide/d3dcompiler_47.dll


3Dmigoto/YYSLS/3Dmigoto Loader.exe
3Dmigoto/YYSLS/d3d11.dll
3Dmigoto/YYSLS/d3dcompiler_46.dll
3Dmigoto/YYSLS/d3dcompiler_47.dll

3Dmigoto/MechaBreak/3Dmigoto Loader.exe
3Dmigoto/MechaBreak/d3d11.dll
3Dmigoto/MechaBreak/d3dcompiler_46.dll
3Dmigoto/MechaBreak/d3dcompiler_47.dll

3Dmigoto/TheOutcast/3Dmigoto Loader.exe
3Dmigoto/TheOutcast/d3d11.dll
3Dmigoto/TheOutcast/d3dcompiler_46.dll
3Dmigoto/TheOutcast/d3dcompiler_47.dll

3Dmigoto/XYZJH2/3Dmigoto Loader.exe
3Dmigoto/XYZJH2/d3d11.dll
3Dmigoto/XYZJH2/d3dcompiler_46.dll
3Dmigoto/XYZJH2/d3dcompiler_47.dll

ArmorSetting.json
ACLSetting.json

RunInput.json
RUnResult.json
