# 部分仅测试使用的游戏没必要上传，代码完全完善并测试通过后再上传
Games/Game001/
Games/HOK/
Games/TheOutcast/

# nvapi64.dll现在的架构用不上了
nvapi64.dll

# 日志文件上传毫无意义
Logs/

# 工作空间动辄几个G，不能上传
WorkSpace/

# 测试逆向出来的东西，无需上传
Reversed/

# 自用的测试插件，上传毫无意义
Plugins/3Dmigoto-Sword-Lv5.vmp.exe
Plugins/DBMT-Encryptor.vmp.exe
Plugins/DBMT-Protect.vmp.exe

# 3Dmigoto的日志文件
d3d11_log.txt
d3dx_user.ini
ShaderUsage.txt
FrameAnalysis-*

Mod_*

# 部分游戏加载器默认无需提供，而是从Github获取最新的
3Dmigoto/GI
3Dmigoto/HSR
3Dmigoto/ZZZ
3Dmigoto/HI3
3Dmigoto/WuWa
3Dmigoto/WWMI
3Dmigoto/BloodySpell
3Dmigoto/GF2

# 米游的背景图，没必要塞进来
Background.webp

# 部分自带加载器的内容
3Dmigoto/IdentityV/3Dmigoto Loader.exe
3Dmigoto/IdentityV/d3d11.dll
3Dmigoto/IdentityV/d3dcompiler_46.dll
3Dmigoto/IdentityV/d3dcompiler_47.dll


